@import "tailwindcss";

@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../storage/framework/views/*.php";
@source "../**/*.blade.php";
@source "../**/*.js";

@theme {
    --color-anufish-blue: #1268b3;
    --color-anufish-cyan: #09b5c6;
    --color-anufish-background: #f4f9fc;
    --color-anufish-text: #17324a;
    --color-anufish-muted: #718593;
}